## About Data: 
Fuel Economy Data This information is provided by the U.S. Environmental Protection Agency, OFFICE of
ENERGY EFFICIENCY & RENEWABLE ENERGY 
https://www.fueleconomy.gov/feg/download.shtml



a. What is the unit of measure for engine displacement?
   Liters<br> 
b. Match the meaning for each feature.
   * Stnd : Vehicle emissions standard code 
   * Cyl : Number of Cylinders in the engine 
   * Trans : Transmission Type 
   * Drv : Drive Axle Type

## Skills and packages needed for this activity

* functions used: read_excel(),  isnull(),  columns(), rename(), all(), drop(), convert_numeric(), split(), apply(), append(), index(), copy(), value_counts(), astype(), head(), str.extract(), str.contains()
groupby(), merge(), nunique(), mean(), contains(), isnull(), sum(), duplicated(), value_counts(), dropna() 
* parameters used: axis = 1, inplace = True
* attributes used: shape, dtypes,
* general skills: chaining, column selection with loc and iloc, broadcasting, chaining, boolean mask, regular expression, lambda function
* packages: pandas, numpy, altair

### Questions
1. For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved?
2. Which vehicle improved the most?

### First we have to clean the data.

### 2: Import and clean data  
##### Import the packages and load data

In [0]:
import pandas as pd
import numpy as np

df_08 = pd.read_csv('file_08.csv')
df_08 = pd.read_csv('file_08.csv')
#df_08=pd.read_excel('https://www.fueleconomy.gov/feg/EPAGreenGuide/xls/all_alpha_08.xls')
#df_18=pd.read_excel('https://www.fueleconomy.gov/feg/EPAGreenGuide/xls/all_alpha_18.xlsx')

##### Print the shape and the heads of both dataframes

In [0]:
#2008
# your work here

In [0]:
#2018
# your work here

##### print column labels

In [0]:


# your work here

##### Consider which rows you want to use.

In [0]:
df_18=df_18[df_18['Cert Region']=="CA"]
df_08=df_08[df_08['Sales Area']=="CA"]


##### Take out features that are not present in both datasets or aren't relevant to our questions.

In [0]:
#find columns that are in both datasets
cols_both = list(set(df_08.columns) & set(df_18.columns))
cols_both

In [0]:
df_08 = df_08[cols_both]
df_18 = df_18[cols_both]

In [0]:
# drop columns that we are not interested in from 2008 dataset
df_08.drop(['Stnd', 'Underhood ID'], axis=1, inplace=True)

# confirm changes by checking head
df_08.head(1)

##### Drop the same columns from 2018 dataset

In [0]:
# drop columns from 2018 dataset
# your work here


# confirm changes
df_18.head(1)


##### Examine rows in each dataset that contain missing values.

In [0]:
# check if any of columns in datasets have null values
# your work here

In [0]:
# which rows are they? 
# your work here

In [0]:
# handle rows with null values
# your work here

##### Total duplicated data rows from both datasets

In [0]:
df_08.duplicated().sum(), df_18.duplicated().sum()

##### Drop duplicated data rows from both datasets. Look up the drop_duplicates function.

In [0]:
# your work here

In [0]:
df_18.duplicated().sum()   ,   df_08.duplicated().sum()

##### Attempt to find the mean of the City MPG column. Why doesn't it work? Investigate using functions such as dtype, nunique, ...

In [0]:
# your work here

##### Notice the values in row 1550 below to help figure out the issue.

In [0]:
df_08.iloc[1550]

##### All vehicles with more than one fuel type, like the one above (it lists ethanol AND gas) will have a string that holds two values in each MPG column. One is for ethanol and one for gas. What are some options for handling this?

##### Let's make a separate row for each kind of fuel.

##### First make a dataframe of the 2008 cars with 2 fuels.

In [0]:
# First, let's get all the cars listed with 2 fuels in 2008
F2_08 = df_08[df_08['Fuel'].str.contains('/')]
F2_08.head(3)

##### Take each row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them into two dataframes!<br>

In [0]:
# for 2008
# create two copies of the 2008 hybrids dataframe
df1 = F2_08.copy()  # data on first fuel type of each vehicle
df2 = F2_08.copy()  # data on second fuel type of each vehicle

In [0]:
# columns to split by "/"
split_columns = ['Fuel', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG', 'Greenhouse Gas Score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [0]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

##### Drop the original rows and add in our newly separated rows

In [0]:
# drop the original rows
df_08.drop(F2_08.index, inplace=True)

# add in our newly separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

In [0]:
# check that all the original rows with "/"s are gone
df_08[df_08['Fuel'].str.contains('/')]

In [0]:
df_08.shape

##### Repeat the process for dataset 2018

In [0]:
F2_18 = df_18[df_18['Fuel'].str.contains('/')]

df1 = F2_18.copy()
df2 = F2_18.copy()

In [0]:
# apply split function to each column of each dataframe copy

# list of columns to split
split_columns = ['Fuel','City MPG', 'Hwy MPG','Cmb MPG']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [0]:
# append the two dataframes
new_rows = df1.append(df2)

# drop each hybrid row from the original 2018 dataframe
# do this by using Pandas drop function
df_18.drop(F2_18.index, inplace=True) # drop original one 

# append new_rows to df_18  
df_18 = df_18.append(new_rows,ignore_index=True)

In [0]:
# check that all the original hybrid rows with "/"s are gone
df_18[df_18['Fuel'].str.contains('/')]

##### Finally, fix city mpg, hwy mpg, and cmb mpg datatypes. Change them from strings to floats.

In [0]:
df_08.dtypes

In [0]:
df_18.dtypes

In [0]:
# your work here

### 3: Fuel economy questions.

##### How much have vehicle classes improved in fuel economy (increased in mpg)?

Let's look at the average fuel economy for each vehicle class for both years.

In [0]:
#2008
veh_08 = df_08.groupby(['Veh Class'])['Cmb MPG'].mean()
veh_08

In [0]:
# 2018
# your work here

In [0]:
# how much they've increased by for each vehicle class
# your work here

##### For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved?

##### Rename the 2008 columns to prepare to merge dataframes into one.

In [0]:
# rename 2008 columns
df_08.rename(columns=lambda x: x[:10]+"_2008", inplace=True)

In [0]:
df_08.head(2)

##### Merge the datasets.

In [0]:

df_combined = pd.merge(df_08,df_18,left_on='Model_2008', right_on='Model', how='inner')

In [0]:
# view to check merge
df_combined.head()

##### Create a new dataframe, model_mpg, that contain the mean combined mpg values in 2008 and 2018 for each model. To do this, group by model and find the mean cmb_mpg_2008 and mean cmb_mpg for each.

In [0]:
model_mpg = df_combined.groupby('Model').mean()[['Cmb MPG_2008', 'Cmb MPG']]

In [0]:
model_mpg.head()

##### Create a new column, mpg_change, with the change in mpg from 2008 to 2018.

In [0]:
# your work here

In [0]:
model_mpg.head()

We can see the mpg change through mpg_change column above. Every vehicle varies .

##### Which vehicle improved the most? Find the max mpg change, and then use query or indexing to see what model it is!

In [0]:
# your work here

### 4: Exploring with Visuals

#####  Make a scatter plot of Cmb MPG_2008 and  Cmb MPG . The plot has been done for you, but look at altair documentation to figure out how to add a title.

In [0]:
# add title
import altair as alt
from vega_datasets import data
alt.renderers.enable('notebook')

df_combined_e = df_combined[df_combined['Veh Class']== 'small car']
df_combined_e.head()

In [0]:
alt.Chart(df_combined_e).mark_circle(size = 10).encode(x = 'Cmb MPG_2008:Q',y ='Cmb MPG:Q' )