# Building a table of features for a list of words
This activity will have you analyze properties of a list of words and add such properties to a Pandas DataFrame. The goal of this exercise is to make sure you understand the fundamental concepts of python. We will have you create functions that analyze various properties and make tables to display said properties of the words. 

The review will cover concepts from Chapters 1- 14 (Runestone) (Week1 Online)

***New concepts***:
    Pandas DataFrames

List of properties:

* Length
* Starts with a capital
* Number of vowels
* Proportion of vowels to total length
* Proportion of vowels in word to total number of letters in list
* Reversal of the word
* Has its reversal also in the list
* Is it a palindrome
* List of letters in alphabetical order

### Import Packages PANDAS

We will start off by importing a brand new package called pandas. Pandas will allow us to create a virtual spreadsheet in python without the use of nested arrays. This will allow us to make columns based on the properties of the strings we will be analyzing.

In [4]:
import pandas as pd

### Import the data into a pandas dataframe

Pandas creates an object called a dataframe. You can think of this as an excel spreadsheet. You can create custom rows and add columns at will. For now we will import a column from a CSV. A CSV (comma separated values) is a generic file type for a simple spreadsheet. It allows us to transfer data between different spreadsheet softwares. 

sample of how the code looks:
```python
my_dataframe = pandas.read_csv("file location") 
```

In [15]:
my_data = pd.read_csv("string.csv")
my_data

               WORD
0              fast
1               rat
2            reward
3        underrated
4           tacocat
5        fire truck
6             light
7              bulb
8               bob
9            singer
10           dancer
11        fantastic
12          Floored
13             Cute
14          Cutlery
15         Freedome
16           Freeze
17             kite
18            adult
19        Aeroplane
20              air
21         aircraft
22         airforce
23          Airport
24            Album
25         Alphabet
26            Apple
27              Arm
28             army
29             Baby
..              ...
225           Table
226        Tapestry
227           Teeth
228       Telescope
229      Television
230  Tennis racquet
231     Thermometer
232           Tiger
233          Toilet
234          Tongue
235           Torch
236         Torpedo
237           Train
238       Treadmill
239        Triangle
240          Tunnel
241      Typewriter
242        Umbrella
243          Vacuum
244         Vampire
245       Videotape
246         Vulture
247           Water
248          Weapon
249             Web
250      Wheelchair
251          Window
252           Woman
253            Worm
254           X-ray

[255 rows x 1 columns]

### Functions

These functions will take a string as an input and will output the feature of the string that the function is responsible for. For example the length function will take a string as an input and output the number of characters present in the string.

sample of how the code looks:

```python
# Length
def my_function(string):
    --mycode--
    return something
```

In [0]:
#list of properties we will analyze from the strings

# Length
# Starts with a capital
# Number of vowels
# Proportion of vowels to total length
# Reversal of a word
# Palindrome
# List of letters in alphabetical order
# Has its reversal also in the list

number_of_vowels("fire truck")

### Add Features to the pandas dataframe 

Similar to adding columns to an excel spreadsheet you will add the feature of each word using the  functions created previously as a new column. To apply the function to every item on a list you can use the .map() method native to a column of a pandas dataframe. This results in a new column  by applying the given function to every item of the list. 

general code: 
```python
my_dataframe['property_name'] = my_dataframe['WORD'].map(my_function_name)
```

In [20]:
def my_function(string):
    list_of_vowels = 'aeiou'
    vowel_count = 0
    for c in string:
        if c in string:
          vowel_count += 1
        print(c)
    return string
    return vowel_count

my_function("testing")

SyntaxError: invalid syntax (<ipython-input-20-18532d2f211a>, line 5)