# Building a table of features for a list of words
This activity will have you analyze properties of a list of words and add such properties to a Pandas DataFrame. The goal of this exercise is to make sure you understand the fundamental concepts of python. We will have you create functions that analyze various properties and make tables to display said properties of the words. 

The review will cover concepts from Chapters 1- 14 (Runestone) (Week1 Online)

***New concepts***:
    Pandas DataFrames

List of properties:

* Length
* Starts with a capital
* Number of vowels
* Proportion of vowels to total length
* Proportion of vowels in word to total number of letters in list
* Reversal of the word
* Has its reversal also in the list
* Is it a palindrome
* List of letters in alphabetical order

### Import Packages PANDAS

We will start off by importing a brand new package called pandas. Pandas will allow us to create a virtual spreadsheet in python without the use of nested arrays. This will allow us to make columns based on the properties of the strings we will be analyzing.

In [4]:
import pandas as pd

### Import the data into a pandas dataframe

Pandas creates an object called a dataframe. You can think of this as an excel spreadsheet. You can create custom rows and add columns at will. For now we will import a column from a CSV. A CSV (comma separated values) is a generic file type for a simple spreadsheet. It allows us to transfer data between different spreadsheet softwares. 

sample of how the code looks:
```python
my_dataframe = pandas.read_csv("file location") 
```

In [36]:
my_data = pd.read_csv("string.csv")

### Functions

These functions will take a string as an input and will output the feature of the string that the function is responsible for. For example the length function will take a string as an input and output the number of characters present in the string.

sample of how the code looks:

```python
# Length
def my_function(string):
    --mycode--
    return something
```

In [136]:
#list of properties we will analyze from the strings

# Length
# Starts with a capital
# Number of vowels
# Proportion of vowels to total length
# Reversal of a word
# Palindrome
# List of letters in alphabetical order
# Has its reversal also in the list

def vowel_count(string):
    list_of_vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for c in string.lower():
        # using .count could remove one loop.
        if c in list_of_vowels:
            count += 1
    return count

print(vowel_count("Apple"))

def length(string):
    return len(string)
print(length('testing1234'))

def starts_cap(string):
    return string[0].isupper()
print(starts_cap('Testing'))
print(starts_cap('testing'))


def vowels_ratio(string):
    return vowel_count(string) / length(string)
    
print(vowels_ratio("Testing"))

def reversal(string):
    return_string = ""
    for c in string:
        return_string = c + return_string
    return return_string

print(reversal("testing"))

def palindrome(string):
  return string == reversal(string)

print(palindrome("gooddoog"))
print(palindrome("goodoog"))
print(palindrome("goodoog3"))

def reversal_in_list(list_of_strings, string):
    return reversal(string) in list_of_strings

print("last one")
print(reversal_in_list(["abc", "xyz"], "abc"))
print(reversal_in_list(["abc", "xyz"], "zyx"))

def alphabetical(string):
    return sorted(list(set(string)))

print(alphabetical("bca"))
print(alphabetical("bcA"))

2
11
True
False
0.2857142857142857
gnitset
True
True
False
last one
False
True
['a', 'b', 'c']
['A', 'b', 'c']

### Add Features to the pandas dataframe 

Similar to adding columns to an excel spreadsheet you will add the feature of each word using the  functions created previously as a new column. To apply the function to every item on a list you can use the .map() method native to a column of a pandas dataframe. This results in a new column  by applying the given function to every item of the list. 

general code: 
```python
my_dataframe['property_name'] = my_dataframe['WORD'].map(my_function_name)
```

In [132]:
# my_data['number_of_vowels'] = my_data["WORD"].map(vowel_count)
funs = [vowel_count, length, starts_cap, vowels_ratio, reversal, palindrome, alphabetical]
for fun in funs:
    my_data[fun.__name__] = my_data["WORD"].map(fun)
my_data

,WORD,new_column,number_of_vowels,vowel_count,length,starts_cap,vowels_ratio,reversal,palindrome,alphabetical
0,fast,1,1,1,4,False,0.250000,tsaf,False,"[a, f, s, t]"
1,rat,1,1,1,3,False,0.333333,tar,False,"[a, r, t]"
2,reward,1,2,2,6,False,0.333333,drawer,False,"[a, d, e, r, w]"
3,underrated,1,4,4,10,False,0.400000,detarrednu,False,"[a, d, e, n, r, t, u]"
4,tacocat,1,3,3,7,False,0.428571,tacocat,True,"[a, c, o, t]"
5,fire truck,1,3,3,10,False,0.300000,kcurt erif,False,"[ , c, e, f, i, k, r, t, u]"
6,light,1,1,1,5,False,0.200000,thgil,False,"[g, h, i, l, t]"
7,bulb,1,1,1,4,False,0.250000,blub,False,"[b, l, u]"
8,bob,1,1,1,3,False,0.333333,bob,True,"[b, o]"
9,singer,1,2,2,6,False,0.333333,regnis,False,"[e, g, i, n, r, s]"
10,dancer,1,2,2,6,False,0.333333,recnad,False,"[a, c, d, e, n, r]"
11,fantastic,1,3,3,9,False,0.333333,citsatnaf,False,"[a, c, f, i, n, s, t]"
12,Floored,1,3,3,7,True,0.428571,deroolF,False,"[F, d, e, l, o, r]"
13,Cute,1,2,2,4,True,0.500000,etuC,False,"[C, e, t, u]"
14,Cutlery,1,2,2,7,True,0.285714,yreltuC,False,"[C, e, l, r, t, u, y]"
15,Freedome,1,4,4,8,True,0.500000,emodeerF,False,"[F, d, e, m, o, r]"
16,Freeze,1,3,3,6,True,0.500000,ezeerF,False,"[F, e, r, z]"
17,kite,1,2,2,4,False,0.500000,etik,False,"[e, i, k, t]"
18,adult,1,2,2,5,False,0.400000,tluda,False,"[a, d, l, t, u]"
19,Aeroplane,1,5,5,9,True,0.555556,enalporeA,False,"[A, a, e, l, n, o, p, r]"
20,air,1,2,2,3,False,0.666667,ria,False,"[a, i, r]"
21,aircraft,1,3,3,8,False,0.375000,tfarcria,False,"[a, c, f, i, r, t]"
22,airforce,1,4,4,8,False,0.500000,ecrofria,False,"[a, c, e, f, i, o, r]"
23,Airport,1,3,3,7,True,0.428571,tropriA,False,"[A, i, o, p, r, t]"
24,Album,1,2,2,5,True,0.400000,mublA,False,"[A, b, l, m, u]"
25,Alphabet,1,3,3,8,True,0.375000,tebahplA,False,"[A, a, b, e, h, l, p, t]"
26,Apple,1,2,2,5,True,0.400000,elppA,False,"[A, e, l, p]"
27,Arm,1,1,1,3,True,0.333333,mrA,False,"[A, m, r]"
28,army,1,1,1,4,False,0.250000,ymra,False,"[a, m, r, y]"
29,Baby,1,1,1,4,True,0.250000,ybaB,False,"[B, a, b, y]"
...,...,...,...,...,...,...,...,...,...,...
225,Table,1,2,2,5,True,0.400000,elbaT,False,"[T, a, b, e, l]"
226,Tapestry,1,2,2,8,True,0.250000,yrtsepaT,False,"[T, a, e, p, r, s, t, y]"
227,Teeth,1,2,2,5,True,0.400000,hteeT,False,"[T, e, h, t]"
228,Telescope,1,4,4,9,True,0.444444,epocseleT,False,"[T, c, e, l, o, p, s]"
229,Television,1,5,5,10,True,0.500000,noisiveleT,False,"[T, e, i, l, n, o, s, v]"
230,Tennis racquet,1,5,5,14,True,0.357143,teuqcar sinneT,False,"[ , T, a, c, e, i, n, q, r, s, t, u]"
231,Thermometer,1,4,4,11,True,0.363636,retemomrehT,False,"[T, e, h, m, o, r, t]"
232,Tiger,1,2,2,5,True,0.400000,regiT,False,"[T, e, g, i, r]"
233,Toilet,1,3,3,6,True,0.500000,telioT,False,"[T, e, i, l, o, t]"
234,Tongue,1,3,3,6,True,0.500000,eugnoT,False,"[T, e, g, n, o, u]"
235,Torch,1,1,1,5,True,0.200000,hcroT,False,"[T, c, h, o, r]"
236,Torpedo,1,3,3,7,True,0.428571,odeproT,False,"[T, d, e, o, p, r]"
237,Train,1,2,2,5,True,0.400000,niarT,False,"[T, a, i, n, r]"
238,Treadmill,1,3,3,9,True,0.333333,llimdaerT,False,"[T, a, d, e, i, l, m, r]"
239,Triangle,1,3,3,8,True,0.375000,elgnairT,False,"[T, a, e, g, i, l, n, r]"
240,Tunnel,1,2,2,6,True,0.333333,lennuT,False,"[T, e, l, n, u]"
241,Typewriter,1,3,3,10,True,0.300000,retirwepyT,False,"[T, e, i, p, r, t, w, y]"
242,Umbrella,1,3,3,8,True,0.375000,allerbmU,False,"[U, a, b, e, l, m, r]"
243,Vacuum,1,3,3,6,True,0.500000,muucaV,False,"[V, a, c, m, u]"
244,Vampire,1,3,3,7,True,0.428571,eripmaV,False,"[V, a, e, i, m, p, r]"
245,Videotape,1,5,5,9,True,0.555556,epatoediV,False,"[V, a, d, e, i, o, p, t]"
246,Vulture,1,3,3,7,True,0.428571,erutluV,False,"[V, e, l, r, t, u]"
247,Water,1,2,2,5,True,0.400000,retaW,False,"[W, a, e, r, t]"
248,Weapon,1,3,3,6,True,0.500000,nopaeW,False,"[W, a, e, n, o, p]"
249,Web,1,1,1,3,True,0.333333,beW,False,"[W, b, e]"
250,Wheelchair,1,4,4,10,True,0.400000,riahcleehW,False,"[W, a, c, e, h, i, l, r]"
251,Window,1,2,2,6,True,0.333333,wodniW,False,"[W, d, i, n, o, w]"
252,Woman,1,2,2,5,True,0.400000,namoW,False,"[W, a, m, n, o]"
253,Worm,1,1,1,4,True,0.250000,mroW,False,"[W, m, o, r]"
254,X-ray,1,1,1,5,True,0.200000,yar-X,False,"[-, X, a, r, y]"

In [116]:
['a', 'b'][::-1]

['b', 'a']

In [108]:
sorted(list(set("test")))

['e', 's', 't']

In [151]:
thing = [5,4,3]
bro = thing.sort()
foo = sorted(thing)
foo

[3, 4, 5]